/*Font Color*/
a, .page-head, .service-icon i, .social-icons ul li a, .copyright span{color:#0AAD80;}


/*Background Color*/
#top-bar, .btn.orange, .icon-head i, .skillbar-bar, .owl-theme .owl-controls .owl-buttons div, .white-wrap .text-holder i, ul#filters li a:hover, ul#filters li.active a, a#load-more:hover, footer, #back-top a:hover{background-color:#0AAD80;}


ul.nav li a.selected, ul.nav li a:hover{border-bottom:4px solid #0AAD80;}

